.command-line {
    display: flex;
}

/* Command Line Input Formatting */
#input {
    border: 0px solid;
    background-color: transparent;
}

input:focus,
input:active {
    box-shadow: none !important;
   -moz-box-shadow: none !important;
   -webkit-box-shadow: none !important;
   outline: none !important;
}