@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap");

body {
    background-color: black;
    color: white;
    font-family: 'Pixelify Sans', cursive;
    font-size: 18px;
}

#terminal-container {
    border: 1px rgb(152, 151, 26) solid;
    border-radius: 8px;
    padding: 10px;
    height: 95vh;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

/* Command Line Input Formatting */
.line {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

#command-line {
    display: flex;
    flex-direction: row;
}

#input {
    border: 0px solid;
    background-color: transparent;
    color: white;
    font-family: 'Pixelify Sans', cursive;
    font-size: 18px;
}

input:focus,
input:active {
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    outline: none !important;
}